/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End General Reset */

/* General Rules */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: #b91450;
}

h2{
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
h3{
  color: black;
}

button{
  color: #b91450;
  font-weight: 700;
  padding: 15px 20px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}
label{
  color: #b91450;
  text-align: center;
  font-weight: 700;
}
input{
  margin-top: 15px;
  padding: 10px;
}
select{
  margin-top: 25px;
}

.hidden {
  display: none!important;
}
.visible {
  display: flex!important;
}
/* End General Rules */

/* General Layout */
.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  padding: 0 100px;
  background-color: white;
  display: flex;
  justify-content: center;
}

/* End General Layout */

/* Form Section */
.form-section {
  margin: 50px 20px;
}

.form-section input:focus,
.form-section select:focus{
  background-color: #b91450;
  color: white;
}

.form-section input:focus::placeholder{
  color: white;
}
.button {
  align-self: center;
  margin-left: 50px;
}
/* End Form Section */

/* Ticket Section */
.ticket .container{
  display: flex;
  flex-direction: column;
}
.ticket .container h3{
  padding: 20px 0 0 20px;
  text-transform: uppercase;
}

.ticket-wrap {
  border: 2px solid black;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.ticket-wrap .ticket-section{
  padding: 20px;
}
.ticket-wrap .ticket-section:first-child{
  background-color: gray;
  text-transform: uppercase;
}
/* End Ticket Section */

/* QUERIES */
@media screen and (max-width: 768px){
  /* Layout */
  .container {
    display: flex;
    flex-direction: column;
  }

  /* Form Section */
  .form-section{
    margin: 30px auto;
  }
  .button{
    margin-left: 0;
    margin-bottom: 30px;
  }

  /* Ticket Section */
  .ticket{
    margin-bottom: 30px;
  }
  .ticket-wrap{
    flex-direction: column;
  }
}
/* END QUERIES */
